@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh inherit;
}

#raphBody {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 2vw;
}

#raphBody h1 {
  text-align: center;
  font-size: 5vw;
}
#raphBody h2 {
  text-align: center;
  font-size: 3vw;
}

#raphImgDimitri {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  border-radius: 50px;
}
#raphImgDimitri:hover {
  animation: bounce 2s;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.raphCenter {
  text-align: center;
}

#raphBody h3 {
  text-align: center;
}
.raphImgSmallSize {
  width: 80px;
}
#raphBody h3 {
  text-align: center;
}

.header-raphael {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  background-color: rgb(48, 48, 48);
  padding: 30px;
}

.nav-raphael {
  display: flex;
  align-items: center;
  height: 0;
  color: white;
}
.nav-raphael ul {
  display: flex;
}

.nav-raphael ul li {
  display: flex;
  text-decoration: none;
  margin-left: 60px;
}

.nav-raphael a {
  text-decoration: none;
  color: white;
}

.header {
  padding: 1.5% 0 1.5% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #001220;
  margin-top: 2%;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 100px;
}

.navbar .nav-link {
  font-size: 20px;
  font-family: "Monserrat", sans-serif;
  color: white;
  font-weight: 600;
  text-decoration: none;
  padding: 15px 77px 15px 77px;
}

.nav-link:hover {
  background-color: #ff6400;
  border-radius: 100px;
}

.fiona-body {
  background-image: url(images/layered-waves-haikei.svg);
  background-size: cover;
}

.box-fiona {
  position: relative;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 6px solid #001220;
  overflow: hidden;
  background: #001220;
}

.box-fiona::before {
  content: "";
  position: absolute;
  inset: -10px 70px;
  background: linear-gradient(360deg, #7f3d24, #ff6400);
  animation: animate 4s linear infinite;
}

.box-fiona:hover::before {
  inset: -20px 0px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}

.box-fiona::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: #001220;
  border-radius: 50%;
  z-index: 1;
}

.content-fiona {
  position: absolute;
  inset: 14px;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}

.content-fiona img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.presentation-fiona {
  display: flex;
  margin-top: 10%;
  margin-left: 10%;
  gap: 10%;
  font-family: "Monserrat", sans-serif;
  color: white;
}

.h2-fiona {
  font-size: 40px;
  padding-bottom: 10%;
}

.description-fiona {
  width: 55%;
}

.text-fiona {
  font-size: 25px;
}

.h3-fiona {
  font-size: 25px;
  border-radius: 50px;
  padding-top: 8%;
  padding-bottom: 8%;
}



  .conteneur-raphael {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px; 
}

.conteneur-raphael img {
  border-radius: 10% 25%;
  max-width: 50vh;
  max-height: 50vh;
  flex-direction: column;
}

.fiona{
  background-image: url(images/005\ Young\ Passion.png);
}

.h2-rapheal{
  text-align: center;
}

.text-raph{
  padding: 10px;
  text-align: center;
 
}

.language-raphael{
  text-align: center;
}
.bouton-raphael{
  text-align: center;
}

.citation-raphael{
  text-align: center;
  font-style: italic;
}

.info-raphael{
  text-align: center;
}

@media screen and (max-width: 750px) {
  #raphBody {
    font-size: 18px;
  }
  .nav-raphael {
    align-items: center;
  }

  .nav-raphael ul li {
    display: flex;
    text-decoration: none;
    /* margin-left: 60px; */
    margin: 10px;
  }
  
.nav-raphael ul li {
    display: flex;
    text-decoration: none;
    /* margin-left: 60px; */
    margin: 10px;
}
#raphBody h1 {
  text-align: center;
  font-size: 35px;
}
#raphBody h2 {
  text-align: center;
  font-size: 35px;
}
#raphImgDimitri {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 50px;
}
#raphDescription{
  margin: 0 20px;
}
}
